/*
*
* This is the main style.scss for the swbtheme.
*
* swbtheme - version 3.2
* author - Switchback Creative Inc.
* 
*/
// Helpers

@import "vender/slick";

@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/mixins.buttons";
@import "helpers/mixins.forms";

// Base
@import "base/reset";
@import "base/setup";
@import "base/fonts";
@import "base/typography";

// Utilities
@import "utilities/extends";
@import "utilities/mixins";
@import "utilities/sitewide-class";

// Layout
@import "layouts/grid";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/sidebar";

// SwbTheme Styles
@import "theme/wysiwyg";
@import "theme/single";
@import "theme/comments";
@import "theme/swbindex";
@import "theme/page";
@import "theme/archive";
@import "theme/search";
@import "theme/404";

// Components
@import "components/social";

@import "components/buttons/toggle";

@import "components/loader";
@import "components/featured-image";
@import "components/our-mission";
@import "components/two-images";
@import "components/process";
@import "components/recent-articles";
@import "components/testimonials";
@import "components/our-partners";
@import "components/hero";
@import "components/titlecontent";
@import "components/whynp";
@import "components/closecrop";
@import "components/teams";
@import "components/farmhealthy";
@import "components/imagelink";
@import "components/repeatable";
@import "components/proprocess";
@import "components/threecolumns";
@import "components/sidebyside";
@import "components/keystats";
@import "components/contactform";
@import "components/locationmaps";
@import "components/footernp";
@import "components/blogintro";
@import "components/blogposts";
@import "components/article";

// Pages
@import "pages/blog";
@import "pages/policy";

// WooCommerce Styles
@import "woocommerce/helpers/mixins";
@import "woocommerce/main";
@import "woocommerce/buttons";
@import "woocommerce/singlepro";
@import "woocommerce/messages";
@import "woocommerce/shopnav";
@import "woocommerce/cart";
@import "woocommerce/checkout";
@import "woocommerce/thankyou";
@import "woocommerce/account";
@import "woocommerce/productcat";
@import "woocommerce/woorelated";

// Vender
