.postarticle {
	padding-top: 7.5rem;

	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;

		.socialmedia {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			padding-left: 5rem;

			@include bp(bp-m) {
				width: 80%;
				margin: 0 auto;
			}

			p {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}

			ul {
				li {
					margin: 0 1rem;
				}
			}
		}
	}

	&__header {
		@include bp(bp-m) {
			width: 80%;
			margin-right: auto;
			margin-left: auto;
		}

		h1 {
			margin-bottom: 1em;
			font-size: 2.2rem;
			font-weight: $font-weight--bold;
			text-transform: capitalize;

			@include bp(bp-m) {
				font-size: 2.4rem;
			}

			@include bp(bp-l) {
				font-size: 3rem;
			}
		}

		.entry-meta {
			padding-bottom: 2.5rem;

			p {
				margin: 0;
				color: rgba($black, 0.8);
				font-size: 1.6rem;

				@include bp(bp-m) {
					font-size: 1.6rem;
				}

				@include bp(bp-l) {
					font-size: 1.4rem;
				}

				a {
					transition: all .3s ease;
					color: rgba($black, 0.8);
					font-weight: $font-weight--bold;

					&:hover {
						color: rgba($color-primary, 0.7);
					}
				}
			}
		}

		.wp-post-image {
			margin-bottom: 10rem;
		}
	}

	&__content {
		@include bp(bp-m) {
			width: 80%;
			margin: 0 auto;
		}
	}

	&__footer {
		margin-top: 5rem;
		padding: 5rem 0;
		background-color: rgba($black, 0.1);

		.post-author {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 80%;
			margin: 0 auto;
			padding: 1.5rem 0;
			border-top: 2px solid rgba($black, 0.5);
			border-bottom: 2px solid rgba($black, 0.5);

			.post-author-image {
				@include bp(bp-m) {
					width: 13rem;
					margin-right: 3rem;
				}
			}

			.post-author-bio {
				@include bp(bp-m) {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 80%;
				}

				h5 {
					margin-top: 0;
					margin-bottom: 0.15em;
					font-weight: $font-weight--bold;
				}

				p {
					margin-bottom: 0;
					color: rgba($black, 0.5);
					font-size: 1.6rem;
					font-style: italic;

					@include bp(bp-m) {
						font-size: 1.6rem;
					}

					@include bp(bp-l) {
						font-size: 1.4rem;
					}

					a {
						color: rgba($black, 0.5);
						font-style: normal;
						font-weight: $font-weight--bold;

						&:hover {
							color: rgba($color-accent, 0.5);
						}
					}
				}

				.author {
					margin-top: .9rem;
				}
			}
		}
	}
}


.singlepost__pagination {
	padding-top: 25px;
	padding-bottom: 25px;

	.flex-containers {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	h5 {
		width: 100%;
		margin-top: 0;
		margin-bottom: 1em;
		text-align: center;

		@include bp(bp-m) {
			margin-bottom: 2em;
		}
	}

	p {
		transition: all $trns-duration linear;

		a {
			transition: all $trns-duration linear;
		}
	}

	.next,
	.previous {
		width: calc(100% - 30px);
		margin: 0 1.5rem;
		font-size: 1.4rem;
		text-align: center;

		@include bp(bp-m) {
			width: calc(50% - 30px);
			margin-top: .1rem;
		}

		&:hover {
			color: rgba($color-accent, 0.75);
		}

		a {
			transition: all $trns-duration linear;
			border-bottom: 4px solid rgba($black, 0.75);
			color: rgba($black, 0.75);

			&:hover {
				border-bottom: 4px solid $color-accent;
				color: rgba($color-accent, 0.75);
			}
		}
	}

	.next {
		margin-top: 3rem;

		@include bp(bp-m) {
			margin-top: .1rem;
		}
	}


	.back-home {
		width: 100%;
		margin-top: 3rem;
		margin-bottom: 2rem;
		font-size: 1.4rem;
		font-style: italic;
		font-weight: $font-weight--bold;
		text-align: center;

		a {
			color: rgba($black, 0.75);

			&:hover {
				color: rgba($color-accent, 0.75);
			}
		}
	}
}

















