.mainlogo {
  width: 100%;
  max-width: 40rem;
  margin: 1.5rem auto;
  padding: 0.5rem;
  text-align: center;

  @include bp(bp-m) {
    max-width: 30rem;
    margin: 0 auto 4rem;
  }

  @include bp(bp-l) {
    margin: 0 auto;
  }

  h1,
  p {
    margin: 0;

    span {
      @include hideText();
    }
  }
}
