.siteheader {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 3rem 0;
  background-color: $color-secondary;

  &__container {
    @include container-base(flex, large);
    align-items: center;
    justify-content: space-between;
  }

  &__meta {
    width: 100%;
    @include bp(bp-m) {
      width: 100%;
    }

    @include bp(bp-l) {
      width: 40%;
    }
  }

  .swbmainnav {
    width: 100%;
    @include bp(bp-m) {
      width: 90%;
      margin: 0 auto;
    }

    @include bp(bp-l) {
      width: 60%;
    }
  }
}
