.np-signart {
  &__wrapper {
    @include container-base(flex);
    @include bp(bp-m) {
      width: 75%;
    }
    @include bp(bp-l) {
      width: 100%;
    }
  }

  &__meta {
    width: 100%;
    @include bp(bp-l) {
      width: calc(40% - 3rem);
      margin-right: 3rem;
    }

    &--title {
      margin-bottom: 2.5rem;
      h1 {
        @include mainTitle();

        @include bp(bp-l) {
          font-size: 4rem;
          text-align: left;
        }
      }
    }

    &--author {
      p {
        margin: 0;
        font-size: 1.6rem;

        @include bp(bp-l) {
          font-size: 1.2rem;
        }
      }

      a {
        transition: all 0.4s ease;
        color: $black;
        font-size: 1em;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &--share {
      margin-top: 4rem;

      p {
        margin: 0;
        color: $silverRust;
        font-family: $font-family--secondary;
        font-size: 2.4rem;
        font-weight: 600;
      }

      .socialmedia {
        .socialmedia__menu--single {
          li {
            margin-right: 1rem;
            a {
              background-color: $color-secondary;

              &:hover {
                background-color: $color-primary;
              }
            }
          }
        }
      }
    }
  }

  &__content {
    width: 100%;

    @include bp(bp-l) {
      width: calc(50% - 3rem);
      margin-left: 3rem;
    }

    p {
      @include bp(bp-l) {
        font-size: 1.6rem;
      }
    }
  }
}
