.np-blogposts {
  &__wrapper {
    @include container-base(flex, large);
  }

  &__articles {
    width: 100%;

    @include bp(bp-l) {
      width: calc(60% - 3rem);
      margin-right: 3rem;
    }
  }

  &__sidebar {
    position: relative;
    width: 100%;

    @include bp(bp-l) {
      width: calc(40% - 3rem);
      margin-left: 3rem;
      padding: 6rem;
      padding-top: 3rem;
    }

    &--title {
      h3 {
        @include mainTitle();
        margin: 0;
        margin-bottom: 2rem;

        @include bp(bp-l) {
          font-size: 3rem;
        }
      }
    }

    &--background {
      position: absolute;
      top: 0;
      left: 0;
      width: 1000rem;
      height: 100%;
      background-color: rgba($color-shadow2, 0.25);
      z-index: -1;
    }
  }

  &__loadmore {
    button {
      @include mainButton();
      border: 0 solid transparent;

      &:disabled {
        box-shadow: 0 0.25rem 0 $grey;
        color: $grey;
      }
    }
  }
}

.np-post {
  margin-bottom: 5rem;
  &__image {
    width: 100%;
    max-width: 75rem;
    margin-bottom: 2rem;

    img {
      width: 100%;
      max-width: 75rem;
      max-height: 100%;
    }
  }

  &__title {
    h2 {
      margin: 0;
      color: $color-secondary;
      font-size: 1.6rem;
      font-weight: 600;

      a {
        transition: all 0.4s ease;
        color: $color-secondary;
        font-family: $font-family--accent;
        font-size: 1em;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &__excerpt {
    p {
      @include mainParagraph();
      text-align: left;

      @include bp(bp-l) {
        font-size: 1.6rem;
      }
    }
  }

  &__link {
    margin-top: 2rem;

    a {
      @include mainButton();
    }
  }
}

.np-post,
.np-post__hide {
  transform: translateY(20rem);
  transform-origin: bottom center;
  transition: all 0.3s ease;
  opacity: 0;
}

.np-post__show {
  transform: translateY(0);
  transition: all 0.3s ease;
  opacity: 1;
}
