.np-contactform {
  background-color: $color-secondary;
  min-height: 40vh;

  &__wrapper {
    @include container-base(flex);
  }

  &__title {
    width: 100%;

    h2 {
      @include mainTitle();
      color: $color-shadow2;
    }

    &--required {
      color: $white;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @include bp(bp-m) {
      max-width: 75rem;
    }

    @include bp(bp-l) {
      max-width: 80rem;
    }

    &--container {
      width: 100%;

      label {
        display: block;
        margin: 1.5rem 0;
        color: $white;
        font-size: 1.6rem;
      }

      input,
      textarea {
        padding: 1rem;
        border: 0.1rem solid $color-shadow2;
        color: $black;
        font-size: 1.8rem;

        &:focus {
          box-shadow: 0.2rem -0.2rem 0 $color-primary,
            0.2rem 0.2rem 0 $color-primary, -0.2rem -0.2rem 0 $color-primary,
            -0.2rem 0.2rem 0 $color-primary, 0.2rem -0.2rem 0 $color-primary;
        }
      }
    }

    &--fname,
    &--lname,
    &--phone,
    &--email {
      @include bp(bp-m) {
        width: calc(50% - 2rem);
      }
    }

    &--fname,
    &--phone {
      @include bp(bp-m) {
        margin-right: 2rem;
        margin-left: 0;
      }
    }

    &--lname,
    &--email {
      @include bp(bp-m) {
        margin-right: 0;
        margin-left: 2rem;
      }
    }

    &--button {
      margin-top: 5rem;
      margin-bottom: 5rem;
      text-align: center;

      button {
        @include mainButton();
        border: none;
        background-color: transparent;
        color: $white;
      }
    }
  }
}

.np-formaction {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-shadow2, 0.9);
  z-index: 1000;

  &__wrapper {
    @include container-base(flex, small);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;

    h2 {
      width: 100%;
      margin: 3rem auto;
      color: $white;
      text-align: center;
    }

    p {
      margin-bottom: 0.5rem;
      color: $white;
    }

    button {
      @include mainButton();
      margin-top: 5rem;
      border: 0 solid transparent;
      background: transparent;
    }
  }
}
