.np-footer {
  position: relative;

  &__hero {
    background: linear-gradient(
      to top,
      rgba($color-shadow2, 0.9) 0%,
      rgba($color-shadow2, 0.9) 50%,
      transparent 50%,
      transparent 100%
    );
    &--container {
      width: 100%;
      max-width: 115rem;
      margin: 0 auto;

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__bottom {
    padding: 7.5rem 0 1rem;
    background-color: rgba($color-shadow2, 0.9);
  }

  &__wrapper {
    @include container-base(flex, large);
    justify-content: space-between;
  }

  &__logo {
    align-self: center;

    @include bp(bp-m) {
      width: 20%;
    }
  }

  &__menu {
    align-self: center;

    @include bp(bp-m) {
      width: 40%;
    }

    .current_page_item {
      a {
        color: $color-secondary;
      }
    }
  }

  &__copy {
    width: 100%;
    padding: 1.5rem;
    text-align: center;

    p {
      margin-bottom: 0;
      color: $white;
      font-size: 1.2rem;
      font-style: italic;

      span {
        display: block;
        font-size: 1.2rem;
      }

      a {
        transition: color $trns-duration linear;
        color: $white;
        font-size: 1.2rem;

        &:hover {
          color: $color-accent;
        }
      }
    }
  }
}
