.np-ourmiss {
  padding: 4rem 0 2rem;
  background-color: $color-secondary;

  &__wrapper {
    @include container-base(flex);
    width: 80rem;
  }

  &__title {
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;

    h2 {
      @include mainTitle();
      margin: 0;
      color: $silverRust;
      font-weight: 500;
    }
  }

  &__content {
    text-align: center;

    p {
      @include mainParagraph();
      margin-bottom: 2rem;
      color: $athensGray;

      @include bp(bp-m) {
        font-size: 1.6rem;
      }

      @include bp(bp-l) {
        font-size: 1.8rem;
      }
    }
  }
}
