// @keyframes dash {
//   80% {
//     stroke-dashoffset: 0;
//     fill: transparent;
//   }

//   100% {
//     fill: #9ec988;
//   }
// }

@keyframes pulse {
  to {
    box-shadow: 0 0 0 2.5rem rgba($color-shadow, 0);
  }
}

.np-ourpro {
  background-color: $color-secondary;

  &__wrapper {
    @include container-base(flex);
  }

  &__intro {
    width: 100%;

    @include bp(bp-m) {
      padding-bottom: 5rem;
    }

    @include bp(bp-l) {
      padding-bottom: 10rem;
    }

    &--title {
      @include mainTitle();
      color: $color-shadow2;
    }

    &--paragraph {
      p {
        @include mainParagraph();
        color: $white;

        @include bp(bp-l) {
          font-size: 1.6rem;
          text-align: center;
        }
      }
    }
  }

  &__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__step {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
    padding: 0 1rem;

    @include bp(bp-m) {
      width: 50%;
      margin-top: 0;
      padding: 0 3rem;
    }

    @include bp(bp-l) {
      width: 25%;
      margin-top: 0;
      padding: 0 3rem;
    }

    &:nth-of-type(1) {
      margin-top: 10rem;

      @include bp(bp-m) {
        margin-top: 0;
      }
    }

    &--wrapper {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      @include bp(bp-m) {
        width: 100%;
      }
    }

    &--number {
      display: inline-block;
      position: absolute;
      top: 5rem;
      right: auto;
      left: 15rem;
      margin: 0 auto;

      @include bp(bp-m) {
        top: 2.5rem;
        left: 15rem;
      }

      @include bp(bp-l) {
        position: absolute;
        top: 5rem;
        right: auto;
        left: auto;
      }

      p {
        display: inline-block;
        margin: 0 auto;
        transform: scale(0.8);
        color: rgba($silverRust, 0.5);
        font-family: $font-family--primary;
        font-size: 4rem;
        font-weight: bold;
        opacity: 0.5;

        @include bp(bp-m) {
          font-size: 3.5rem;
        }

        @include bp(bp-l) {
          font-size: 5rem;
        }
      }
    }

    &--number.np-step-active {
      top: 3rem;
      width: 6rem;
      height: 6rem;
      text-align: center;

      @include bp(bp-m) {
        width: 7.5rem;
        height: 7.5rem;
      }

      p {
        width: 6rem;
        height: 6rem;
        transform: scale(1.5);
        transition: all 0.3s ease;
        border: 0.1rem solid $color-primary;
        border-radius: 50%;
        color: $color-primary;
        box-shadow: 0 0 0 0 rgba($color-primary, 0.7);
        cursor: pointer;
        opacity: 1;
        animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);

        @include bp(bp-m) {
          width: 7.5rem;
          height: 7.5rem;
        }

        &:hover {
          color: $white;
          cursor: pointer;
        }
      }
    }

    &--number.np-step-done {
      p {
        transform: scale(1);
        color: rgba($silverRust, 0.85);
        opacity: 1;
      }
    }

    &--icon {
      width: 80%;
      margin-bottom: 3rem;

      @include bp(bp-m) {
        width: 100%;
      }

      svg {
        display: block;
        width: 80%;
        max-width: 12.5rem;
        margin: 0 auto;

        @include bp(bp-m) {
          width: 100%;
        }

        .np-pro-outline {
          circle {
            stroke-dasharray: 755;
            stroke-dashoffset: 755;
            stroke: #fff;
            stroke-width: 5px;
            fill: transparent;
          }
        }
      }
    }

    &--hand {
      position: relative;
      z-index: 500;
      svg {
        .np-pro-hand-outline {
          circle {
            stroke-dasharray: 755;
            stroke-dashoffset: 755;
            stroke: #9ec988;
            stroke-width: 5px;
            fill: transparent;
          }

          path {
            stroke-dasharray: 780;
            stroke-dashoffset: 780;
            stroke-width: 5px;
            stroke: #9ec988;
            fill: transparent;
            //animation: dash 5s infinite forwards;
          }
        }
        .cls-1 {
          fill: #9ec988;
        }
        .cls-2 {
          fill: #fff;
        }
      }
    }

    &--barn {
      svg {
        .cls-1 {
          fill: #fff;
        }
        .cls-2 {
          fill: #9ec988;
        }
      }
    }

    &--stock {
      svg {
        .cls-1 {
          fill: #9ec988;
        }
        .cls-2 {
          fill: #fff;
        }
      }
    }

    &--chem {
      svg {
        .cls-1,
        .cls-2 {
          fill: #001c71;
          stroke-miterlimit: 10;
        }
        .cls-1 {
          stroke: #fff;
          stroke-width: 5px;
        }
        .cls-2 {
          stroke: #fff;
          stroke-width: 3px;
        }
        .cls-3 {
          fill: #fff;
        }
      }
    }

    &--wind {
      svg {
        .cls-1 {
          fill: #9ec988;
        }
        .cls-2 {
          fill: #fff;
        }
      }
    }

    &--silo {
      svg {
        .cls-1 {
          fill: #fff;
        }
        .cls-2 {
          fill: #9ec988;
        }
      }
    }

    &--farmer {
      svg {
        .cls-1 {
          fill: #9ec988;
        }
        .cls-2 {
          fill: #fff;
        }
      }
    }

    &--animals {
      svg {
        .cls-1 {
          fill: none;
          stroke: #fff;
          stroke-width: 5px;
        }
        .cls-1,
        .cls-2,
        .cls-3 {
          stroke-miterlimit: 10;
        }
        .cls-2,
        .cls-3 {
          fill: #9ec988;
          stroke: #9ec988;
        }
        .cls-3 {
          stroke-width: 0.5px;
        }
      }
    }

    &--contentwrap {
      width: 100%;
      text-align: center;

      @include bp(bp-l) {
        text-align: left;
      }
    }

    &--title {
      width: 100%;

      h3 {
        color: $white;
        font-size: 2rem;

        @include bp(bp-m) {
          font-size: 2rem;
        }

        @include bp(bp-l) {
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }

    &--content {
      width: 100%;

      p {
        color: $white;
        font-size: 1.4rem;

        @include bp(bp-m) {
          font-size: 1.6rem;
        }

        @include bp(bp-l) {
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }

    &--list {
      width: 100%;
      li {
        color: $white;
        font-size: 1.4rem;

        @include bp(bp-m) {
          font-size: 1.4rem;
        }

        @include bp(bp-l) {
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }

    &:nth-of-type(2n + 1) {
      .np-pro-outline {
        circle {
          stroke: #9ec988;
        }
      }
    }
  }
}
