.np-process {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 10rem;

  @include bp(bp-m) {
    padding-top: 10rem;
    padding-bottom: 12.5rem;
  }

  @include bp(bp-l) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  &__bgone,
  &__bgtwo {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  &__bgone {
    top: -5rem;
    right: -12.5rem;
    width: 25rem;
    height: 17.3rem;
    background-image: url("#{$path--rel}/images/process/ntp-nutrition-food.jpg");

    @include bp(bp-m) {
      top: -5rem;
      right: -15rem;
      width: 40rem;
      height: 27.7rem;
    }
  }

  &__bgtwo {
    bottom: 3rem;
    left: -12.5rem;
    width: 30rem;
    height: 18.8rem;
    background-image: url("#{$path--rel}/images/process/ntp-nutrition-pig-feed.jpg");

    @include bp(bp-m) {
      bottom: 0;
      left: -17.5rem;
      width: 40rem;
      height: 25rem;
    }

    @include bp(bp-l) {
      bottom: 2rem;
    }
  }

  &__wrapper {
    @include container-base(flex);
    position: relative;
    z-index: 5;
  }

  &__title {
    width: 100%;

    h2 {
      margin-bottom: 5rem;
      color: $silverRust;
      font-family: $font-family--secondary;
      font-size: 3.8rem;
      font-weight: bold;
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &--step {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      width: 50%;
      margin-bottom: 7.5rem;
      padding: 0 1rem;

      @include bp(bp-m) {
        width: 25%;
        margin-bottom: 7rem;
        padding: 0 3rem;
      }

      @include bp(bp-l) {
        margin-bottom: 7rem;
      }
    }

    &--number {
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;

      p {
        display: inline-block;
        margin: 0 auto;
        color: rgba($silverRust, 0.5);
        font-family: $font-family--primary;
        font-size: 5rem;
        font-weight: bold;
      }
    }

    &--icon {
      width: 100%;
      margin-bottom: 3rem;

      i {
        display: block;
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &--hand {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-01.png");
        }
      }

      &--barn {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-02.png");
        }
      }

      &--stock {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-03.png");
        }
      }

      &--chem {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-04.png");
        }
      }

      &--wind {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-05.png");
        }
      }

      &--silo {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-06.png");
        }
      }

      &--farmer {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-07.png");
        }
      }

      &--animals {
        i {
          background-image: url("#{$path--rel}/images/process/NTP-Process-Step-08.png");
        }
      }
    }

    &--content {
      width: 100%;
      padding: 0;
      text-align: center;

      @include bp(bp-m) {
        padding: 0 2rem;
      }

      p {
        margin: 0;
        color: $color-secondary;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
