.np-recent {
  padding: 5rem 0;
  background-color: $color-secondary;

  &__wrapper {
    @include container-base(flex, large);
  }

  &__title {
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;

    h2 {
      position: relative;
      padding-top: 8.5rem;
      color: $silverRust;
      font-family: $font-family--secondary;
      font-size: 4rem;

      &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 1rem;
        height: 8.2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
      }

      &::before {
        width: 100%;
        background-image: url("#{$path--rel}/images/recent/NTP-animal-chicken-02.png"),
          url("#{$path--rel}/images/recent/NTP-animal-pig-02.png"),
          url("#{$path--rel}/images/recent/NTP-animal-cow-02.png");

        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 37.5% bottom, 45% bottom, 55% bottom;
        background-size: 5rem 6.1rem, 7.5rem 4.5rem, 12.5rem 8.2rem;
      }
    }
  }

  &__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &__article {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: flex-start;
    width: 100%;

    @include bp(bp-m) {
      width: calc(33% - 5rem);
      margin: 0 2.5rem;
    }

    &--image {
      width: 100%;
    }

    &--title {
      width: 100%;
      margin-bottom: 3rem;

      h2 {
        color: $locustGreen;

        @include bp(bp-m) {
          font-size: 1.8rem;
        }
      }

      p {
        margin: 0;
        color: $athensGray;
      }
    }

    &--excerpt {
      width: 100%;

      p {
        margin-bottom: 0.25rem;
        color: $athensGray;
      }
    }
  }
}
