.np-testimonials {
  padding-top: 5rem;

  &__wrapper {
    @include container-base(flex, large);
  }

  &__title {
    @include bp(bp-m) {
      align-self: center;
      width: calc(50% - 5rem);
      padding: 0 3rem;
    }

    h2 {
      width: 100%;
      color: $color-secondary;
      font-family: $font-family--secondary;
      font-weight: bold;

      @include bp(bp-m) {
        font-size: 5rem;
      }
    }
  }

  &__slider {
    width: 100%;

    @include bp(bp-m) {
      width: calc(50% - 5rem);
    }
  }

  &__item {
    width: 100%;

    &--content {
      margin: 0;
      color: $regentGray;
      font-size: 1.6rem;
    }

    &--name {
      padding-top: 1.5rem;
      color: $color-secondary;
      font-family: $font-family--secondary;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  .slick-dots {
    li {
      display: inline-block;

      div {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        border: 0.1rem solid $color-secondary;

        &:hover {
          cursor: pointer;
        }
      }
    }

    li.slick-active {
      div {
        background-color: $color-secondary;
      }
    }
  }
}
