.landing-opening {
  h2 {
    margin: 0;
    margin-bottom: 0.75rem;
    color: $color-primary;
    font-family: $font-family--secondary;

    @include bp(bp-l) {
      font-size: 4.8rem;
    }
  }

  p {
    margin: 0;
    color: $white;

    @include bp(bp-l) {
      font-size: 2rem;
    }
  }
}

.landpage {
  background: linear-gradient(
    to bottom,
    $color-secondary 0%,
    $color-secondary 30rem,
    $white 30rem,
    $white 100%
  );

  @include bp(bp-m) {
  }

  @include bp(bp-l) {
    background: linear-gradient(
      to bottom,
      $color-secondary 0%,
      $color-secondary 30rem,
      $white 30rem,
      $white 100%
    );
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem;

    @include bp(bp-m) {
    }

    @include bp(bp-l) {
      max-width: 110rem;
    }
  }

  &__hero {
    width: 100%;
    height: 100%;
    min-height: 50rem;
    background-image: url("#{$path--rel}/images/landing/ntp-livestock-production.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include bp(bp-l) {
      min-height: 60rem;
    }
  }

  &__content {
    padding: 2rem 0;
    text-align: center;

    h2 {
      margin: 0;
      margin-bottom: 1rem;
      color: $color-secondary;
      font-family: $font-family--secondary;
      font-weight: 800;

      @include bp(bp-l) {
        font-size: 5rem;
      }
    }

    h4 {
      color: $color-shadow2;
      font-weight: 600;

      @include bp(bp-l) {
        font-size: 2rem;
      }
    }

    ul {
      li {
        display: block;
        margin: 0.75rem auto;
        color: rgba($black, 0.8);
        @include bp(bp-l) {
          font-size: 1.8rem;
        }
      }
    }

    p {
      margin: 2.5rem auto 0;
      color: $color-secondary;
      font-weight: 600;
    }
  }
}

.landfooter {
  background-color: $color-secondary;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    margin: 4rem auto;
    padding: 2rem;
  }

  &__icons {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    &--item {
      display: block;
      margin: 0 2rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &--chicken {
      width: calc(21.8rem / 3);
      height: calc(26.8rem / 3);
      background-image: url("#{$path--rel}/images/landing/NTP-animal-chicken-02.png");
    }

    &--pig {
      width: calc(50.1rem / 3);
      height: calc(29.8rem / 3);
      background-image: url("#{$path--rel}/images/landing/NTP-animal-pig-02.png");
    }

    &--cow {
      width: calc(58.4rem / 3);
      height: calc(38.1rem / 3);
      background-image: url("#{$path--rel}/images/landing/NTP-animal-cow-02.png");
    }
  }
}
