@mixin fontAwesome {
	font-family: 'FontAwesome';
	font-size: inherit;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin squish-text {
	color: transparent;
	font: 0/0 serif;
	text-shadow: none;
}

@mixin hideText {
	display: block;
	position: fixed;
	left: 100%;
}
