// Font Families _config.scss
$font-family--primary: 'Archivo Narrow', 'Roboto', 'Lato', ‘Lucida Sans’, 'Tahoma', ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, sans-serif;
$font-family--secondary: 'Over the Rainbow', 'Shadows into light', 'Kaushan Script', 'Caveat', cursive;

// Font Weights _config.scss
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 700;
$font-weight--Ultrabold: 800;

// Font Styles _config.scss
$normal: normal;
$italic: italic;
$oblique: oblique;
// Font Setup _config.scss
$base__font-size: 1rem;
$base__line: 125%;
$letter-space: .1rem;

// Base colours. //
$white:	#fff;
$grey: #797e83;
$grey-light: #eee;
$black:	#0b0b0b;
$strongred: #f00;

// Brand colours. //
$green:	 #36bb79;
$blue:   #00556f;
$orange: #f05022;
$yellow: #ffc52f;
$purple: #4c3040;


// Colors usage _config.scss

$color-primary: $green;
$color-secondary: $blue;
$color-accent: $orange;
$color-shadow: $yellow;
$color-shadow2: $purple;


// Social Media Colors _config.scss

$twitter-clr:   #00aced;
$facebook-clr:  #3b5998;
$linkedinclr:   #007bb6;
$googleplusclr: #dd4b39;
$instagram-clr: #125688;
$youtube-clr:   #b00;
$pinterest-clr: #cb2027;
$snapchat-clr:  #fffc00;

$twitter-clr: transparent;
$facebook-clr: transparent;
$linkedinclr: transparent;
$googleplusclr: transparent;
$instagram-clr: transparent;
$youtube-clr: transparent;
$pinterest-clr: transparent;
$snapchat-clr: transparent;

// Path to Assets _config.scss

$path--rel: '../img';

// Transitions _config.scss

$trns-duration: 0.3s;

// Breakpoints _config.scss

$small:	 768px;
$medium: 1025px;
$large:  1200px;
$extralarge: 1600px;
$maxlarge: 1900px;
