// These are the mains atyles for the shop page container and other theme custom styles. //
// This is just to add some space on the main shop page for the WooCommerce section. //
.swbtheme-mainshop {
	margin: 2rem 0;
	padding: 2rem 0;
}

// Woocommerce Products container ** Used on all pages not just the main page. ** //
.woocommerce {
	// This is the <ul> elelment that will contain the products list. //
	ul.products {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 100%;
		// This is the layout for the main products list. //
		li.product {
			position: relative;
			width: 50%;
			margin-top: 5rem;
			padding: 0 1rem 8rem;
			
			@include bp(bp-m) {
				width: 33%;
				margin-top: 7.5rem;
				padding: 0 2rem 8rem;
			}

			@include bp(bp-l) {
				width: 25%;
				margin-top: 10rem;
				padding: 0 1.5rem 8rem;
			}
		}

		// Styles for the on sale <span> tage
		.onsale {
			@include onsale();

			@include bp(bp-m) {
				left: 2rem;
			}
		
			@include bp(bp-l) {
				left: 1.5rem;
			}
		}

		// This is the main title of the product. It is an <h2> element. //
		h3,
		.woocommerce-loop-category__title,
		.woocommerce-loop-product__title {
			margin: 0;
			padding: 1rem 0;
			color: $black;
			font-family: $font-family--primary;
			font-size: 1.8rem;	
		}
		// These are the styles for the star rating section. //
		.star-rating {
			@include starRatings();
		}

		// This is the main price styles. //
		.price {
			display: block;
			margin-bottom: .5rem;
			color: $color-secondary;
			font-size: 1.6rem;
			text-decoration: none;
		
			del {
				.woocommerce-Price-amount {
					color: $color-secondary;
				}
			}
		
			ins {
				margin-left: 1em;
				text-decoration: none;
				font-weight: bold;

				.woocommerce-Price-amount {
					color: $color-accent;
				}
			}
		
			.subscription-details {
				display: block;
				font-size: 1.4rem;
			}
		}
	
		// These are the styles for the 2 buttons on the products list. //
		// The main button will be placed behind the other view cart button. // 
		.button,
		.added_to_cart {
			position: absolute;
			right: 1rem;
			bottom: 2rem;
			left: 1rem;
			min-width: auto;
			margin: 0 auto;
		}

		.button {
			z-index: 1;
		}

		.added_to_cart {
			z-index: 5;
		}
	}	
}

// The membership section. //
.membersmain.woo-shop {
	.swb-full-content-md {
		h2 {
			padding-top: 75px;
			padding-bottom: 25px;
			background-image: url('#{$path--rel}/images/icons/icon-events.png');
			background-repeat: no-repeat; 
			background-position: 50% 15px;
			background-size: 50px 50px;
			color: $color-shadow2;
			font-weight: $font-weight--bold;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

.return-to-shop {
	text-align: center;

	a {
		padding: 0.35em 1.5em;
		transition: all $trns-duration;
		border-radius: 0.75em;
		background-color: $color-primary;
		color: $white;
		text-transform: uppercase;

		&:hover {
			background-color: $color-shadow2;
			color: $black;
		}
	}
}


