/*
*
* This is the css file for the login screen for the website.
*
* swbtheme - version 1.0.5
* author - Switchback Creative Inc.
* #9bae88
*/

body.login {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #ef6a23 0%, #001c71 40%);
}

.login h1 a {
  background-image: url("../../assets/dist/img/logo/swbthemelogin.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.login .message {
  border-color: #ef6a23;
  border-left-width: 10px;
  background-color: #9bae88; /* switchback green */
  color: #001c71;
  text-transform: uppercase;
}

#loginform {
  background-color: #9bae88; /* switchback green */
  border-radius: 5px;
}

#loginform p {
  text-transform: uppercase;
}

.login label {
  color: #2c343b; /* switchback blue */
}

.button-primary.button-large {
  text-transform: uppercase;
  background-color: #001c71; /* switchback orange */
  border-color: #001c71; /* switchback orange */
  box-shadow: none !important;
  outline: none;
  transition: all 0.3s;
}

.button-primary.button-large:hover {
  background-color: #ef6a23; /* switchback blue */
  border-color: #ef6a23; /* switchback blue */
}

.login #nav {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  margin-top: 2em;
}

.login #nav a {
  background-color: #ef6a23; /* switchback green */
  padding: 12px;
  display: block;
  color: #001c71;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.4s;
}

.login #nav a:hover {
  background-color: #abc87e; /* switchback green */
  border-left: 10px solid #ef6a23;
  color: #001c71;
}

.login #backtoblog {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
}

.login #backtoblog a {
  background-color: #ef6a23; /* switchback green */
  padding: 12px;
  display: block;
  color: #001c71;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.4s;
}

.login #backtoblog a:hover {
  background-color: #abc87e; /* switchback green */
  border-left: 10px solid #ef6a23;
  color: #001c71;
}
