// .np-langbtn {
//   display: block;
//   position: relative;
//   max-width: 10rem;
//   margin: 0 auto;
// }

// .tgl-btn {
//   display: block;
//   width: 10rem;
//   padding: 0.2rem;
//   transition: all 0.2s ease;
//   border: 0 solid transparent;
//   outline: none;
//   font-family: sans-serif;
//   perspective: 200rem;

//   &:hover {
//     cursor: pointer;
//   }

//   &::after,
//   &::before {
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     padding: 0.5rem 1rem;
//     transition: all 0.4s ease;
//     border-radius: 0.4rem;
//     color: $white;
//     font-weight: bold;
//     text-align: center;
//     backface-visibility: hidden;
//   }

//   &::after {
//     transform: rotateY(-180deg);
//     background: $color-primary;
//     content: "French";
//   }

//   &::before {
//     background: $color-primary;
//     content: "English";
//   }

//   &:active::before {
//     transform: rotateY(-20deg);
//   }
// }

// .tgl-btn.active {
//   &::before {
//     transform: rotateY(180deg);
//   }

//   &::after {
//     left: 0;
//     transform: rotateY(0);
//     background: $silverRust;
//   }

//   &:active::after {
//     transform: rotateY(20deg);
//   }
// }

.np-langbtn {
  padding-top: 2rem;
  text-align: right;
}

label {
  color: $white;

  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"] {
  display: block;
  position: absolute;
  margin-right: 0;
  margin-left: auto;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
  width: 4rem;
  height: 2rem;
  margin: 1.5rem 2rem 1.5rem auto;
  transition-duration: 0.4s;
  transition-property: background-color, box-shadow;
  border: 0.1rem solid $white;
  border-radius: 99rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
  width: 4rem;
  border: 1px solid $color-accent;
  background-color: $color-accent;
  background-position: 0 0;
  box-shadow: inset 0 0 0 10px $color-accent;
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
  width: 3.4rem;
  height: 1.8rem;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
  width: 5rem;
  height: 2.5rem;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
  border: 1px solid $color-primary;
  background-color: $color-primary;
  box-shadow: inset 0 0 0 10px $color-primary;
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 1px;
  margin-left: 1px;
  float: left;
  transition-duration: 0.4s;
  transition-property: transform, background-color;
  transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  border-radius: inherit;
  background: $white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
  transform: translate3d(2rem, 0, 0);
  background-color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
  transform: translate3d(16px, 0, 0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
  width: 23px;
  height: 23px;
  margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
}
